<?php
/** @var $block Esgi\Job\Block\Physicalstore */
$departments = $block->getDepartments();
?>
<ul id="department-list">
    <?php foreach ($departments as $department) : ?>
        <li><?php echo $department->getName(); ?></li>
    <?php endforeach; ?>
</ul>
<script type="text/x-magento-init">
    {
        "#department-list":
        {
            "jobDepartmentAjax": {}
        }
    }
</script>